In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv(r'D:\Meghana H P 123\Python\archive\breast-cancer-data.csv')
df.head()

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class
0,40-49',premeno',15-19',0-2',yes',3',right',left_up',no',recurrence-events'
1,50-59',ge40',15-19',0-2',no',1',right',central',no',no-recurrence-events'
2,50-59',ge40',35-39',0-2',no',2',left',left_low',no',recurrence-events'
3,40-49',premeno',35-39',0-2',yes',3',right',left_low',yes',no-recurrence-events'
4,40-49',premeno',30-34',3-5',yes',2',left',right_up',no',recurrence-events'

In [3]:
df.shape

(286, 10)

In [4]:
df.describe(include='all')

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class
count,286,286,286,286,278,286,286,285,286,286
unique,6,3,11,7,2,3,2,5,2,2
top,50-59',premeno',30-34',0-2',no',2',left',left_low',no',no-recurrence-events'
freq,96,150,60,213,222,130,152,110,218,201

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          286 non-null    object
 1   menopause    286 non-null    object
 2   tumer-size   286 non-null    object
 3   inv-nodes    286 non-null    object
 4   node-caps    278 non-null    object
 5   deg-malig    286 non-null    object
 6   breast       286 non-null    object
 7   breast-quad  285 non-null    object
 8   irradiate    286 non-null    object
 9   class        286 non-null    object
dtypes: object(10)
memory usage: 22.5+ KB

### TO CHECK FOR DUPLICATE RECORDS AND DROPPING THE SAME

In [6]:
df[df.duplicated()]

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class
17,60-69',ge40',15-19',0-2',no',2',right',left_up',no',no-recurrence-events'
27,40-49',premeno',10-14',0-2',no',1',right',left_up',no',no-recurrence-events'
44,30-39',premeno',15-19',0-2',no',1',left',left_low',no',no-recurrence-events'
65,50-59',ge40',15-19',0-2',no',1',right',central',no',no-recurrence-events'
117,60-69',ge40',10-14',0-2',no',1',left',left_up',no',no-recurrence-events'
178,40-49',premeno',25-29',0-2',no',2',right',left_low',no',recurrence-events'
190,50-59',premeno',25-29',0-2',no',2',left',right_up',no',recurrence-events'
214,40-49',premeno',20-24',0-2',no',2',right',left_up',no',no-recurrence-events'
217,50-59',premeno',25-29',0-2',no',2',left',left_low',no',no-recurrence-events'
221,50-59',ge40',20-24',0-2',no',3',left',left_up',no',no-recurrence-events'
239,50-59',ge40',40-44',6-8',yes',3',left',left_low',yes',recurrence-events'
245,60-69',ge40',15-19',0-2',no',2',left',left_low',no',no-recurrence-events'
267,30-39',premeno',35-39',0-2',no',3',left',left_low',no',recurrence-events'
269,60-69',ge40',20-24',0-2',no',1',left',left_low',no',no-recurrence-events'

In [7]:
df[df.duplicated()].count()

age            14
menopause      14
tumer-size     14
inv-nodes      14
node-caps      14
deg-malig      14
breast         14
breast-quad    14
irradiate      14
class          14
dtype: int64

In [8]:
df=df.drop_duplicates(keep='first')
df

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class
0,40-49',premeno',15-19',0-2',yes',3',right',left_up',no',recurrence-events'
1,50-59',ge40',15-19',0-2',no',1',right',central',no',no-recurrence-events'
2,50-59',ge40',35-39',0-2',no',2',left',left_low',no',recurrence-events'
3,40-49',premeno',35-39',0-2',yes',3',right',left_low',yes',no-recurrence-events'
4,40-49',premeno',30-34',3-5',yes',2',left',right_up',no',recurrence-events'
...,...,...,...,...,...,...,...,...,...,...
281,50-59',ge40',30-34',6-8',yes',2',left',left_low',no',no-recurrence-events'
282,50-59',premeno',25-29',3-5',yes',2',left',left_low',yes',no-recurrence-events'
283,30-39',premeno',30-34',6-8',yes',2',right',right_up',no',no-recurrence-events'
284,50-59',premeno',15-19',0-2',no',2',right',left_low',no',no-recurrence-events'
285,50-59',ge40',40-44',0-2',no',3',left',right_up',no',no-recurrence-events'

In [9]:
df=df.reset_index(drop=True)

In [10]:
df.shape

(272, 10)

### TO SEE THE UNIQUE VALUES IN EACH COLUMN

In [11]:
for i in df.columns:
    print('\n',i,'\n')
    print(df[i].unique())

 age

["40-49'" "50-59'" "60-69'" "30-39'" "70-79'" "20-29'"]

 menopause

["premeno'" "ge40'" "lt40'"]

 tumer-size

["15-19'" "35-39'" "30-34'" "25-29'" "40-44'" "10-14'" "0-4'" "20-24'"
 "45-49'" "50-54'" "5-9'"]

 inv-nodes

["0-2'" "3-5'" "15-17'" "6-8'" "9-11'" "24-26'" "12-14'"]

 node-caps

["yes'" "no'" nan]

 deg-malig

["3'" "1'" "2'"]

 breast

["right'" "left'"]

 breast-quad

["left_up'" "central'" "left_low'" "right_up'" "right_low'" nan]

 irradiate

["no'" "yes'"]

 class

["recurrence-events'" "no-recurrence-events'"]

### Column 1:

In [12]:
df['age'].unique()

array(["40-49'", "50-59'", "60-69'", "30-39'", "70-79'", "20-29'"],
      dtype=object)

#### It is seen that the age column had the age range in the form " n,n+10' ". However the " ' " is to be removed; making the format just " n,n+10 "

In [13]:
df['age']=df.age.str.replace("'",'')

In [14]:
df['age'].unique()

array(['40-49', '50-59', '60-69', '30-39', '70-79', '20-29'], dtype=object)

### Column 2:

In [15]:
df['menopause'].unique()

array(["premeno'", "ge40'", "lt40'"], dtype=object)

####  " ' " is to be removed

In [16]:
df['menopause']=df.menopause.str.replace("'",'')

In [17]:
df['menopause'].unique()

array(['premeno', 'ge40', 'lt40'], dtype=object)

 ### Column 3:

In [102]:
df['tumer-size'].unique()

array(["15-19'", "35-39'", "30-34'", "25-29'", "40-44'", "10-14'", "0-4'",
       "20-24'", "45-49'", "50-54'", "5-9'"], dtype=object)

####  " ' " is to be removed

In [18]:
df['tumer-size']=df['tumer-size'].str.replace("'",'')
df['tumer-size'].unique()

array(['15-19', '35-39', '30-34', '25-29', '40-44', '10-14', '0-4',
       '20-24', '45-49', '50-54', '5-9'], dtype=object)

#### Also it is desired to have a column with average size of the tumor for analysis

In [19]:
df[['lower', 'upper']] = df['tumer-size'].str.split('-', expand=True).astype(int)

In [20]:
df['average_tumor_size'] = (df['lower'] + df['upper']) / 2

In [21]:
df.head()

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class,lower,upper,average_tumor_size
0,40-49,premeno,15-19,0-2',yes',3',right',left_up',no',recurrence-events',15,19,17.0
1,50-59,ge40,15-19,0-2',no',1',right',central',no',no-recurrence-events',15,19,17.0
2,50-59,ge40,35-39,0-2',no',2',left',left_low',no',recurrence-events',35,39,37.0
3,40-49,premeno,35-39,0-2',yes',3',right',left_low',yes',no-recurrence-events',35,39,37.0
4,40-49,premeno,30-34,3-5',yes',2',left',right_up',no',recurrence-events',30,34,32.0

In [22]:
df=df.drop(columns=['lower','upper'])

In [23]:
df.head()

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class,average_tumor_size
0,40-49,premeno,15-19,0-2',yes',3',right',left_up',no',recurrence-events',17.0
1,50-59,ge40,15-19,0-2',no',1',right',central',no',no-recurrence-events',17.0
2,50-59,ge40,35-39,0-2',no',2',left',left_low',no',recurrence-events',37.0
3,40-49,premeno,35-39,0-2',yes',3',right',left_low',yes',no-recurrence-events',37.0
4,40-49,premeno,30-34,3-5',yes',2',left',right_up',no',recurrence-events',32.0

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 272 non-null    object
 1   menopause           272 non-null    object
 2   tumer-size          272 non-null    object
 3   inv-nodes           272 non-null    object
 4   node-caps           264 non-null    object
 5   deg-malig           272 non-null    object
 6   breast              272 non-null    object
 7   breast-quad         271 non-null    object
 8   irradiate           272 non-null    object
 9   class               272 non-null    object
 10  average_tumor_size  272 non-null    float64
dtypes: float64(1), object(10)
memory usage: 23.5+ KB

In [24]:
df.rename(columns={'average_tumor_size':'average_tumor_size(mm)'},inplace=True)
df.head()

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class,average_tumor_size(mm)
0,40-49,premeno,15-19,0-2',yes',3',right',left_up',no',recurrence-events',17.0
1,50-59,ge40,15-19,0-2',no',1',right',central',no',no-recurrence-events',17.0
2,50-59,ge40,35-39,0-2',no',2',left',left_low',no',recurrence-events',37.0
3,40-49,premeno,35-39,0-2',yes',3',right',left_low',yes',no-recurrence-events',37.0
4,40-49,premeno,30-34,3-5',yes',2',left',right_up',no',recurrence-events',32.0

#### Thus we have a new column which gives the average tumor size with its datatype as float

### Column 4:

In [25]:
df['inv-nodes'].unique()

array(["0-2'", "3-5'", "15-17'", "6-8'", "9-11'", "24-26'", "12-14'"],
      dtype=object)

####  " ' " is to be removed

In [26]:
df['inv-nodes']=df['inv-nodes'].str.replace("'",'')

In [27]:
df.head()

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class,average_tumor_size(mm)
0,40-49,premeno,15-19,0-2,yes',3',right',left_up',no',recurrence-events',17.0
1,50-59,ge40,15-19,0-2,no',1',right',central',no',no-recurrence-events',17.0
2,50-59,ge40,35-39,0-2,no',2',left',left_low',no',recurrence-events',37.0
3,40-49,premeno,35-39,0-2,yes',3',right',left_low',yes',no-recurrence-events',37.0
4,40-49,premeno,30-34,3-5,yes',2',left',right_up',no',recurrence-events',32.0

In [28]:
df['inv-nodes'].unique()

array(['0-2', '3-5', '15-17', '6-8', '9-11', '24-26', '12-14'],
      dtype=object)

In [29]:
df[['lower', 'upper']] = df['inv-nodes'].str.split('-', expand=True).astype(int)

In [30]:
df['inv_nodes_avg'] = (df['lower'] + df['upper']) / 2

In [31]:
df=df.drop(columns=['lower','upper'])

In [33]:
df['inv_nodes_avg']=df['inv_nodes_avg'].astype(int)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     272 non-null    object
 1   menopause               272 non-null    object
 2   tumer-size              272 non-null    object
 3   inv-nodes               272 non-null    object
 4   node-caps               264 non-null    object
 5   deg-malig               272 non-null    object
 6   breast                  272 non-null    object
 7   breast-quad             271 non-null    object
 8   irradiate               272 non-null    object
 9   class                   272 non-null    object
 10  average_tumor_size(mm)  272 non-null    float64
 11  inv_nodes_avg           272 non-null    int32
dtypes: float64(1), int32(1), object(10)
memory usage: 24.6+ KB

In [35]:
df.head()

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class,average_tumor_size(mm),inv_nodes_avg
0,40-49,premeno,15-19,0-2,yes',3',right',left_up',no',recurrence-events',17.0,1
1,50-59,ge40,15-19,0-2,no',1',right',central',no',no-recurrence-events',17.0,1
2,50-59,ge40,35-39,0-2,no',2',left',left_low',no',recurrence-events',37.0,1
3,40-49,premeno,35-39,0-2,yes',3',right',left_low',yes',no-recurrence-events',37.0,1
4,40-49,premeno,30-34,3-5,yes',2',left',right_up',no',recurrence-events',32.0,4

### Column 5:

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     272 non-null    object
 1   menopause               272 non-null    object
 2   tumer-size              272 non-null    object
 3   node-caps               264 non-null    object
 4   deg-malig               272 non-null    object
 5   breast                  272 non-null    object
 6   breast-quad             271 non-null    object
 7   irradiate               272 non-null    object
 8   class                   272 non-null    object
 9   average_tumor_size(mm)  272 non-null    float64
dtypes: float64(1), object(9)
memory usage: 21.4+ KB

#### This column contains null values

In [36]:
df['node-caps'].isnull().sum()

8

In [37]:
df[df['node-caps'].isnull()]

,age,menopause,tumer-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiate,class,average_tumor_size(mm),inv_nodes_avg
19,50-59,lt40,20-24,0-2,NaN,1',left',left_low',no',recurrence-events',22.0,1
29,60-69,ge40,25-29,3-5,NaN,1',right',left_low',yes',no-recurrence-events',27.0,4
47,70-79,ge40,15-19,9-11,NaN,1',left',left_low',yes',recurrence-events',17.0,10
51,40-49,premeno,25-29,0-2,NaN,2',left',right_low',yes',no-recurrence-events',27.0,1
67,60-69,ge40,25-29,3-5,NaN,1',right',left_up',yes',no-recurrence-events',27.0,4
88,50-59,lt40,20-24,0-2,NaN,1',left',left_up',no',recurrence-events',22.0,1
144,50-59,ge40,30-34,9-11,NaN,3',left',left_up',yes',no-recurrence-events',32.0,10
252,50-59,ge40,30-34,9-11,NaN,3',left',left_low',yes',no-recurrence-events',32.0,10

In [38]:
df['node-caps']=df['node-caps'].str.replace("'",'')

In [39]:
df['node-caps'].unique()

array(['yes', 'no', nan], dtype=object)

In [40]:
df['node-caps'].value_counts()

no     209
yes     55
Name: node-caps, dtype: int64

In [42]:
df['node-caps'].fillna('no', inplace=True)

In [43]:
df['node-caps'].isnull().sum()

0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     272 non-null    object
 1   menopause               272 non-null    object
 2   tumer-size              272 non-null    object
 3   inv-nodes               272 non-null    object
 4   node-caps               272 non-null    object
 5   deg-malig               272 non-null    object
 6   breast                  272 non-null    object
 7   breast-quad             271 non-null    object
 8   irradiate               272 non-null    object
 9   class                   272 non-null    object
 10  average_tumor_size(mm)  272 non-null    float64
 11  inv_nodes_avg           272 non-null    int32
dtypes: float64(1), int32(1), object(10)
memory usage: 24.6+ KB

### Column 6 deg-malig

In [45]:
df['deg-malig']=df['deg-malig'].str.replace("'",'')

In [46]:
df['deg-malig'].unique()

array(['3', '1', '2'], dtype=object)

In [47]:
df['deg-malig']=df['deg-malig'].astype(int)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     272 non-null    object
 1   menopause               272 non-null    object
 2   tumer-size              272 non-null    object
 3   inv-nodes               272 non-null    object
 4   node-caps               272 non-null    object
 5   deg-malig               272 non-null    int32
 6   breast                  272 non-null    object
 7   breast-quad             271 non-null    object
 8   irradiate               272 non-null    object
 9   class                   272 non-null    object
 10  average_tumor_size(mm)  272 non-null    float64
 11  inv_nodes_avg           272 non-null    int32
dtypes: float64(1), int32(2), object(9)
memory usage: 23.5+ KB

### Column 7

In [49]:
df['breast-quad'].unique()

array(["left_up'", "central'", "left_low'", "right_up'", "right_low'",
       nan], dtype=object)

In [50]:
df['breast-quad']=df['breast-quad'].str.replace("'",'')

In [51]:
df['breast-quad'].isnull().sum()

1

In [52]:
df['breast-quad'].value_counts()

left_low     103
left_up       92
right_up      32
right_low     24
central       20
Name: breast-quad, dtype: int64

In [56]:
df['breast-quad'].fillna('left_low', inplace=True)

In [57]:
df['breast-quad'].isnull().sum()

0

In [58]:
df['breast-quad'].unique()

array(['left_up', 'central', 'left_low', 'right_up', 'right_low'],
      dtype=object)

### Column 8

In [59]:
df.columns

Index(['age', 'menopause', 'tumer-size', 'inv-nodes', 'node-caps', 'deg-malig',
       'breast', 'breast-quad', 'irradiate', 'class', 'average_tumor_size(mm)',
       'inv_nodes_avg'],
      dtype='object')

In [60]:
df.breast.unique()

array(["right'", "left'"], dtype=object)

In [61]:
df['breast']=df['breast'].str.replace("'",'')

In [62]:
df.breast.unique()

array(['right', 'left'], dtype=object)

### Column 9

In [63]:
df.irradiate.unique()

array(["no'", "yes'"], dtype=object)

In [64]:
df['irradiate']=df['irradiate'].str.replace("'",'')

In [65]:
df.irradiate.unique()

array(['no', 'yes'], dtype=object)

### Column 10

In [66]:
df['class'].unique()

array(["recurrence-events'", "no-recurrence-events'"], dtype=object)

In [67]:
df['class']=df['class'].str.replace("'",'')

In [68]:
df['class'].unique()

array(['recurrence-events', 'no-recurrence-events'], dtype=object)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     272 non-null    object
 1   menopause               272 non-null    object
 2   tumer-size              272 non-null    object
 3   inv-nodes               272 non-null    object
 4   node-caps               272 non-null    object
 5   deg-malig               272 non-null    int32
 6   breast                  272 non-null    object
 7   breast-quad             272 non-null    object
 8   irradiate               272 non-null    object
 9   class                   272 non-null    object
 10  average_tumor_size(mm)  272 non-null    float64
 11  inv_nodes_avg           272 non-null    int32
dtypes: float64(1), int32(2), object(9)
memory usage: 23.5+ KB

In [154]:
df

,age,menopause,tumer-size,node-caps,deg-malig,breast,breast-quad,irradiate,class,average_tumor_size(mm)
0,40-49,premeno,15-19,yes,3,right,left_up,no,recurrence-events,17.0
1,50-59,ge40,15-19,no,1,right,central,no,no-recurrence-events,17.0
2,50-59,ge40,35-39,no,2,left,left_low,no,recurrence-events,37.0
3,40-49,premeno,35-39,yes,3,right,left_low,yes,no-recurrence-events,37.0
4,40-49,premeno,30-34,yes,2,left,right_up,no,recurrence-events,32.0
...,...,...,...,...,...,...,...,...,...,...
267,50-59,ge40,30-34,yes,2,left,left_low,no,no-recurrence-events,32.0
268,50-59,premeno,25-29,yes,2,left,left_low,yes,no-recurrence-events,27.0
269,30-39,premeno,30-34,yes,2,right,right_up,no,no-recurrence-events,32.0
270,50-59,premeno,15-19,no,2,right,left_low,no,no-recurrence-events,17.0
271,50-59,ge40,40-44,no,3,left,right_up,no,no-recurrence-events,42.0

## Thus the dataset has been cleaned by converting it into readable form, removing the duplicated records, replacing the null values with mode of the attribute and converting certain attributes into integer and float type